chromedriver-autoinstaller==0.6.2
requests==2.32.3
selenium==4.23.1
selenium-wire==5.1.0
ua-generator==0.5.1
user-agents==2.2.0
webdriver-manager==4.0.1
blinker==1.6.2
Pillow==11.0.0
numpy
structlog==23.1.0
numpy
